project_id                = "ait-brainlab-mgmt"
region                    = "asia-southeast1"
zone                      = "asia-southeast1-a"
machine_type              = "e2-micro"
domain                    = "brain.cs.ait.ac.th"
lldap_subdomain           = "authen"
lldap_staging_subdomain   = "authen2"
netbird_subdomain         = "netbird"
netbird_staging_subdomain = "netbird2"
acme_email                = "brainlab@ait.asia"
